header h1 {
  font-size: larger;
  padding-bottom: 3%;
  color: white;
}

body {
  background-color: #ccffeb;
}

.post-item {
  border: 5px solid #47476b;
  border-style: groove;
}

.post-item h1 {
  color: white;
  background-color: black;
}

.disappear {
  display: none;
}

.post-button {
  position: fixed;
  bottom: 5%;
  left: 45%;
}